{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> News-Updates </title>
    {% endif %}
</head>

<body>
    <!-- Content block -->
    {% block content %}

    <!-- Sources section  -->
   
    <div class="container landing-content">
        <div class="row">
            <div class="col-md-4">
                    <div class="list-group list-group-flush">
                            <h3 class="News"> Latest-News-Updates</h3>
                            <br>
                            <div class="updates">
                              {% for general_category in general %}

                            </div>

            <div class="card-title bg-success">
                        <a href="/newsarticle/{{general_category.id}}"
                            class="list-group-item list-group-item-action srces " style="background-color:rgb(205, 216, 230);">{{general_category.name}}</a>
                        {% endfor %}
                      </div>
                    </div>

            </div>
              

            <img src="https://image.shutterstock.com/image-photo/grand-sports-collage-soccer-basketball-260nw-1071589835.jpg" height="350" width="auto" alt="sports">
            <img src="https://pbs.twimg.com/media/C7lIlQcU8AMwZBg.jpg" height="260" width="auto" alt="News-paper">
            
        </div>
        

    </div>

    <ul>



    </ul>

    {% endblock%}



</body>

</html>